@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@font-face {
  font-family: 'BricolageSemibold';
  src: url('../app/assets/BricolageGrotesque_24pt_Condensed-SemiBold.ttf') format('truetype');
       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('../app/assets/WorkSans-VariableFont_wght.ttf') format('truetype');
       
  font-weight: 500;
  font-style: normal;
}

.bricolageSemibold{
  font-family: 'BricolageSemibold'
}
.workSans{
  font-family: 'WorkSans';
}

.react-colorful__saturation{
  border-radius: 0px !important;
}

.react-colorful__last-control{
  border-radius: 0px !important;
}

.react-colorful__pointer{
  width: 15px !important;
  height: 15px !important;
}
.react-colorful{
  border: 2px solid black;
}

input{
  margin-top: 5px;
  padding: 5px;
  border: 2px solid black;
  width: 200px;
  color: black;
}
input:focus{
  outline: none;
  border: 0px;
  border: 2px solid black;
  width: 200px;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
